* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1300px;
    margin: 0 auto;
    height: 100vh;
    background-color: aqua;
}

p {
    color: blue;
}

h2 {
    font-size: 45px;
}

button {
    background-color: gray;
}